/* CSSxxx HEX */
:root{
--bdazzled-blue: #3d5a80ff;
--pale-cerulean: #98c1d9ff;
--light-cyan: rgb(240, 254, 255);
--burnt-sienna: #6BA368;
--gunmetal: #515B3A;

--header-height:100px;
--menu-width:200px;
--footer-height:100px;

--form-width:400px;
--table-width: 1000px;
}
.fake-btn{
    cursor: pointer;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
label{
    font-weight: bold;
    font-family: Montserrat;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    color: rgb(7, 7, 7);
}
#cadastrar_button{
    margin-left: 0px;
}
.logo{
    font-size: 50px;
    font-family: monospace;
    color: rgb(241, 235, 235);
}
.logo-span{
    color: #11BE6B  ;
}

/*coisas da logi_page*/
/*
.form-group{
    background-color: var(--gray);
    font-size: larger;
    font-weight: 900;
    border-radius: 15px;
}
.form-group::placeholder{
    color: var(--info);
}
.background-none {
    background: none !important;
}

label{
    padding-left: 10px;
}
.row {
    margin-top: 30px;
}
.h1{
    font-weight: bold;
}
.logo{
    font-size: 50px;
    font-family: monospace;
    color: var(--secondary)
}
.logo-span{
    color: var(--primary);
}
.custom-btn{
    height: 100px;
    font-size: 50px;
    border-radius: 50px;
}
.custom-input{
    outline: none;
    border: 0px;
    border-bottom: 2px solid ;
    border-radius: 15px;
    font-size: 35px;
    font-weight: 600;
}*/
/* fim coisas_loginpage*/

/* coisas cad cliente */
#cpf::-webkit-input-placeholder {
    color: red;
    }
    
    #cpf:-moz-placeholder { /* Firefox 18- */
    color: red;  
    }
    
    #cpf::-moz-placeholder {  /* Firefox 19+ */
    color: red;  
    }
    
    #cpf:-ms-input-placeholder {  
    color: red;  
    }
    

/* fim cad cliente*/

.formulario{    
    width: var(--form-width);
    margin: 0 auto ;
    padding: 20px;
    /*background: #00AA8E;*/
    background: #5793893a;
    opacity: 0.6;
    box-shadow: inset -6px -6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.tabela{
    width: var(--table-width);
    padding: 20px;
    margin: 0 auto;
}


body{   
    display: grid;
    grid-template-columns: var(--menu-width) 1fr;
    grid-template-rows: 
        var(--header-height)
        1fr
        var(--footer-height);
    grid-template-areas:
    " cabeca cabeca"
    " links conteudo"
    " links rodape" ;
    height: 100vh;
    /*background:  
        linear-gradient(
            121.06deg, 
            #DFEFF2 28.31%, 
            rgba(22, 173, 206, 0) 
            90.27%), 
        #4A929C;*/
}

.usuario{
    padding: 45px 30px;
    color: white;
}

.titulo{
    padding: 25px 30px ;
}

div#header{ 
    display:grid;   
    grid-template-columns: 0.10fr 1fr 1fr;
    grid-area: cabeca;
    background-color: #045A4C /* #428bae*/
    

}
nav#menu{
    background-color: #00AA8E;
    padding-top: 50px;
    grid-area: links ;

}
div#content{
    grid-area: conteudo;

}
div#footer{
    padding-top: 45px ;
    text-align: center;
    grid-area: rodape;
    background-color: rgba(218, 203, 203, 0);
}

.rodape-texto{
    float:right;
    width: auto;
    margin-right: 30px;
    padding: 5px 10px ;    
    background-color:  #579389;    /*#428cae73*/

}

.titulo_pagina{
    padding: 10px 30px;
}

.icone{    
    padding-left: 12px ;
    padding-top: 12px ;
    
}

.list-group-item-info{
    background-color: #00AA8E;
}

.list-group-item{
    font-family: Montserrat;
    /*font-weight: bold;*/
    color: rgb(41, 40, 51);
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn{
    font-family: Montserrat;
    
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
}

.btn.btn-outline-primary, .custom-btn{
    color: rgb(219, 218, 230);
    background-color: #08322F;
    border-color: #186661;
}

.btn.btn-outline-info.custom-btn{
    margin: 10px;
    /*border-radius: 15px;*/
}

.btn.btn-outline-primary.form-check-label{
    margin: 10px;
}


#cad_func{
    width: 700px;
}

.h1{
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.table-info{
    background-color: #00AA8E;

}

.btn-danger{
    height: 37.833px;
}

#gerar_relas{
    padding-left: 50px;
}

.lixeira{
    width: 40px;
}

