/* CSSxxx HEX */
:root{
--bdazzled-blue: #3d5a80ff;
--pale-cerulean: #98c1d9ff;
--light-cyan: rgb(240, 254, 255);
--burnt-sienna: #6BA368;
--gunmetal: #515B3A;

--header-height:100px;
--menu-width:200px;
--footer-height:100px;

--form-width:400px;
}
.fake-btn{
    cursor: pointer;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
label{
    font-weight: bold;
}
#cadastrar_button{
    margin-top: 40px;
}
.logo{
    font-size: 50px;
    font-family: monospace;
    color: rgb(241, 235, 235);
}
.logo-span{
    color: var(--primary);
}

/*coisas da logi_page*/
/*
.form-group{
    background-color: var(--gray);
    font-size: larger;
    font-weight: 900;
    border-radius: 15px;
}
.form-group::placeholder{
    color: var(--info);
}
.background-none {
    background: none !important;
}

label{
    padding-left: 10px;
}
.row {
    margin-top: 30px;
}
.h1{
    font-weight: bold;
}
.logo{
    font-size: 50px;
    font-family: monospace;
    color: var(--secondary)
}
.logo-span{
    color: var(--primary);
}
.custom-btn{
    height: 100px;
    font-size: 50px;
    border-radius: 50px;
}
.custom-input{
    outline: none;
    border: 0px;
    border-bottom: 2px solid ;
    border-radius: 15px;
    font-size: 35px;
    font-weight: 600;
}*/
/* fim coisas_loginpage*/

/* coisas cad cliente */
#cpf::-webkit-input-placeholder {
    color: red;
    }
    
    #cpf:-moz-placeholder { /* Firefox 18- */
    color: red;  
    }
    
    #cpf::-moz-placeholder {  /* Firefox 19+ */
    color: red;  
    }
    
    #cpf:-ms-input-placeholder {  
    color: red;  
    }
    

/* fim cad cliente*/

.formulario{    
    width: var(--form-width);
    margin: 0 auto ;
    padding: 20px;
}


body{   
    display: grid;
    grid-template-columns: var(--menu-width) 1fr;
    grid-template-rows: 
        var(--header-height)
        1fr
        var(--footer-height);
    grid-template-areas:
    " cabeca cabeca"
    " links conteudo"
    " links rodape" ;
    height: 100vh;
}

.usuario{
    padding: 45px 30px;
    color: white;
}

.titulo{
    padding: 25px 30px ;
}

div#header{ 
    display:grid;   
    grid-template-columns: 1fr 1fr;
    grid-area: cabeca;
    background-color: #428bae
    

}
nav#menu{
    grid-area: links ;

}
div#content{
    grid-area: conteudo;

}
div#footer{
    padding-top: 45px ;
    text-align: center;
    grid-area: rodape;
    /*background-color: brown;*/
}

.rodape-texto{
    float:right;
    width: auto;
    margin-right: 30px;
    padding: 5px 10px ;    
    background-color:  #428cae73
}

.titulo_pagina{
    padding: 10px 30px;
}