
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {%block titulo %}
        {% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#" />

    <link href="{% static 'bootstrap-4.5.3-dist/css/bootstrap.css' %}" rel="stylesheet">
    
    <link href="{% static '_css/style.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <script src="{% static 'bootstrap-4.5.3-dist/js/bootstrap.bundle.js' %}" type="text/javascript"></script>
    <script src="{% static '_js/script.js' %}" type="text/javascript"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    

</head>

<body>
    <div id="header">
        <div class="row">
            <div class="text-left titulo">
                <p class="logo">Farmac<span class="logo-span">ITA</span></p>
            </div>
        </div>
        <div class="usuario dropdown text-right">
            <a class="dropdown-toggle text-secondary" href="#" role="button" id="dropdownusuario" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{user}}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownUsuario">
                <a class="dropdown-item" href="/pessoas/deslogar">Logout</a>
            </div>
        </div>
    </div>         
    <nav class="list-group-item-info" id="menu">     
        <div class="dropdown">
            <a class="list-group-item list-group-item-action list-group-item-info dropdown-item"
            role="button" id="dropdownprincipal"  aria-expanded="false" href="/pessoas/pagina_principal" >
                 Pagina principal
            </a>
        </div>      
        <div class="dropdown">
            <a class="list-group-item list-group-item-action list-group-item-info dropdown-toggle" href="#"
                role="button" id="dropdownmedicamentos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Medicamentos
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/cadastro_medicamentos/cadastro_medicamentos">Criar Cadastro</a>
                <a class="dropdown-item" href="/cadastro_medicamentos/editar_medicamento">Medicamentos Cadastrados</a>
            </div>
        </div>
        <div class="dropdown">
            <a class="list-group-item list-group-item-action list-group-item-info dropdown-toggle" href="#"
                role="button" id="dropdownestoque" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Estoque
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/controle_estoque/entrada_estoque">Entrada</a>
                <a class="dropdown-item" href="/controle_estoque/excluir_lote">Saída</a>
                <a class="dropdown-item" href="/pessoas/cadastro_fornecedor">Novo Fornecedor</a>
                <a class="dropdown-item" href="/pessoas/editar_fornecedor">Fornecedores Cadastrados</a>
            </div>
        </div>
        <div class="dropdown">
            <a class="list-group-item list-group-item-action list-group-item-info dropdown-toggle" href="#"
                role="button" id="dropdownclientes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clientes
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/pessoas/cadastro_cliente">Cadastrar Dados</a>
                <a class="dropdown-item" href="/pessoas/editar_cliente">Clientes Cadastrados</a>
            </div>
        </div>
        <div class="dropdown">
            <a class="list-group-item list-group-item-action list-group-item-info dropdown-toggle" href="#"
                role="button" id="dropdownfuncionarios" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Funcionários
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/pessoas/cadastro_usuario">Cadastrar Dados</a>
                <a class="dropdown-item" href="/pessoas/editar_usuario">Funcionários Cadastrados</a>
            </div>
        </div>
        <div class="dropdown">
            <a class="list-group-item list-group-item-action list-group-item-info dropdown-toggle" href="#"
                role="button" id="dropdownvendas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vendas
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item " href="/financeiro/criar_ordem_de_venda">Nova Ordem de Venda</a>
                <a class="dropdown-item " href="/financeiro/consultar_ordem_de_venda">Consultar Ordem de Venda</a>
                <!-- <a class="dropdown-item " href="#">Excluir Ordem de Venda</a> -->
            </div>
        </div>     
        <div class="dropdown">
            <a class="list-group-item list-group-item-action list-group-item-info dropdown-toggle" href="#"
                role="button" id="dropdowncompras" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Compras
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/pessoas/cadastro_fornecedor">Novo Fornecedor</a>
                <a class="dropdown-item " href="#">Nova ordem de compra</a>
            </div>
        </div>     

    </nav>
    <div id="content">
        <div class="titulo_pagina">

            <h1 class="h1">
                {% block titulo-conteudo %}
                {% endblock %}
            </h1>
        </div>
        <div>
        {% block content %}
        {% endblock %}
        <p style="text-align: center;" id="resultado_operacao"></p>
        <script>
            sucesso_operacao = '{{sucesso}}'
            if(sucesso_operacao == 'True'){
                document.getElementById("resultado_operacao").textContent = "Operação concluída com sucesso"
                document.getElementById("resultado_operacao").style = "text-align: center;color:green"
            }
        </script>
        </div>
    </div>
    <div id="footer">
        <p class="rodape-texto align-text-bottom">CES-28 Grupo HSO</p>
    </div>


</body>

</html>