{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {%block head %}
        {% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#" />

    <link href="{% static 'bootstrap-4.5.3-dist/css/bootstrap.css' %}" rel="stylesheet">
    
    <link href="{% static '_css/style.css' %}" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <script src="{% static 'bootstrap-4.5.3-dist/js/bootstrap.bundle.js' %}" type="text/javascript"></script>
    <script src="{% static '_js/script.js' %}" type="text/javascript"></script>

    

</head>

<body>
    <div id="header">
        <div class="row">
            <div class="text-left titulo">
                <p class="logo">Farmac<span class="logo-span">ITA</span></p>
            </div>
        </div>
        <div class="usuario dropdown text-right">
            <a class="dropdown-toggle text-secondary" href="#" role="button" id="dropdownUsuario" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{user}}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownUsuario">
                <a class="dropdown-item" href="/pessoas/deslogar">Logout</a>
            </div>
        </div>
    </div>
    <nav class="list-group-item-info" id="menu">        
        <div class="dropdown">
            <a class="list-group-item list-group-item-action list-group-item-info dropdown-toggle" href="#"
                role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Medicamentos
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/cadastro_medicamentos/cadastro_medicamentos">Criar Cadastro</a>
                <a class="dropdown-item" href="/cadastro_medicamentos/editar_medicamento">Medicamentos Cadastrados</a>
            </div>
        </div>
        <div class="dropdown">
            <a class="list-group-item list-group-item-action list-group-item-info dropdown-toggle" href="#"
                role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Estoque
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/controle_estoque/entrada_estoque">Entrada</a>
                <a class="dropdown-item" href="/controle_estoque/excluir_lote">Saída</a>
                <a class="dropdown-item" href="/pessoas/cadastro_fornecedor">Novo Fornecedor</a>
            </div>
        </div>
        <div class="dropdown">
            <a class="list-group-item list-group-item-action list-group-item-info dropdown-toggle" href="#"
                role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clientes
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/pessoas/cadastro_cliente">Cadastrar Dados</a>
                <a class="dropdown-item" href="/pessoas/editar_cliente">Clientes Cadastrados</a>
            </div>
        </div>
        <div class="dropdown">
            <a class="list-group-item list-group-item-action list-group-item-info dropdown-toggle" href="#"
                role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Funcionários
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/pessoas/cadastro_usuario">Cadastrar Dados</a>
                <a class="dropdown-item" href="/pessoas/editar_usuario">Funcionários Cadastrados</a>
            </div>
        </div>
        <div class="dropdown">
            <a class="list-group-item list-group-item-action list-group-item-info dropdown-toggle" href="#"
                role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vendas
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item " href="/financeiro/criar_ordem_de_venda">Nova Ordem de Venda</a>
                <a class="dropdown-item " href="#">Consultar Ordem de Venda</a>
                <a class="dropdown-item " href="#">Excluir Ordem de Venda</a>
            </div>
        </div>       

    </nav>
    <div id="content">
        <div class="titulo_pagina">

            <h1 class="h1">
                {% block titulo-conteudo %}
                {% endblock %}
            </h1>
        </div>
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        <p class="rodape-texto align-text-bottom">CES-28 Grupo HSO</p>
    </div>


</body>

</html>