{% extends 'template/padrao.html' %}

{% load static %}

{%block titulo %}
Lotes Cadastrados
{% endblock %}

{%block titulo-conteudo %}
Estoque de Medicamentos
{% endblock %}

{% block content %}

<style>
    .centro{
        text-align: center;            
    }
    .botao{
        margin-bottom:6px;
    }
</style>  

<script>
    // lista_de_medicamentos_validos = [
    //     'ABC',
    //     'BANANA',
    //     'GOIABA',
    //     'PARACETAMOL',
    //     'MOPA'
    // ]
    // lista_fornecedores_validos = [
    //     'fornecedor 1',
    //     'fornecedor 2',
    //     'candy shop',
    //     'maromba',
    //     'droguita'
    // ]
    // industrias_farmaceuticas_validas = [
    //     '123_vamofazerremedio',
    //     'gerador de maconha',
    //     'breaking bad farmacos',
    //     'guerra do ópio distribuidoras LTDA'
    // ]

    industrias_farmaceuticas_validas = []

    lista_de_medicamentos_validos = {{nomes_medicamentos_validos | safe }}
    lista_fornecedores_validos = {{nomes_fornecedores_validos | safe}}

    add_sugestoes = function () {
        adiciona_sugestao_generic(lista_de_medicamentos_validos, "suggestions_medicine")
        adiciona_sugestao_generic(lista_fornecedores_validos, "suggestions_providers")
        adiciona_sugestao_generic(industrias_farmaceuticas_validas, "suggestions_industries")
    }
    $(document).ready(function () {
        add_sugestoes()
    });
    
</script>

<!-- <div class="row formulario">
    <div class="col-sm-12">
        <div>
            <form method="GET">
                <div class="input-group-prepend">
                    <input type="text" class="form-control" placeholder="Nome" name="buscalote" id="buscalote">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Buscar</button>
                </div>
                </form>
        </div>
    </div>
</div> -->

<div class="tabela">
    <div style="display:flex;justify-content:center;align-items:center;">      
    <table id="lotes" class="table table-hover">
        <thead class="table-info">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Medicamento</th>
                <th scope="col">Fornecedor</th>
                <th scope="col">Preço</th>
                <th scope="col">Qtd. Caixas</th>
                <th scope="col">Qtd. por Caixa</th>
                <th scope="col">Dosagem</th>
                <th scope="col">Ind. Farmaceutica</th>
                <th scope="col">Data de Validade</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead> 
        <tbody>
       
        {% for i in lista %}
        {% if not i.excluido %}                      
            <tr class={{i.id_lote_medicamento}}>
                <th scope="row">{{i.id_lote_medicamento}}</th>
                <td class = "nome_medicamento">{{i.id_medicamento.nome_medicamento}}</td>
                <td class = "nome_fornecedor">{{i.id_fornecedor.nome_fornecedor}}</td>
                <td class = "preco">{{i.preco}}</td>
                <td class = "qtd_caixas">{{i.quantidade_de_caixas}}</td>
                <td class = "qtd_caixas">{{i.quantidade_por_caixa}}</td>
                <td class = "qtd_caixas">{{i.dosagem}}</td>
                <td class = "qtd_caixas">{{i.industria_farmaceutica}}</td>
                <td class = "qtd_caixas" data-sort='{{i.data_de_validade|date:"U"}}'>{{i.data_de_validade}}</td>
                <td>
                    <form class= "centro">
                        <button value = {{i.id_lote_medicamento}} name = 'edit' class="btn btn-warning"  type = "submit" >Editar</button> 
                    </form>
                </td>
                <td>
                    <form class= "centro">

                        <button  value = {{i.id_lote_medicamento}} name = 'delete' class="btn btn-danger botao" type = "submit"><i class="fas fa-trash-alt"></i></button>                                                                       
                    </form>                        
                </td>
            </tr>
            
        {% endif %}    
        {% endfor %}
    </tbody>

    </table>
    </div>
    <div>

    {% if editar %}
    {% for i in lista %}
    <div class="row formulario">
        <div class="col-sm-12">
            <div>
                <form method="POST" autocomplete="off">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Medicamento</label>
                        <input 
                            type="text" 
                            class="form-control background-none custom-input"
                            list="suggestions_medicine"
                            name="nome_medicamento"
                            value = {{i.id_medicamento.nome_medicamento}}
                        >
                        <datalist
                            id="suggestions_medicine"></datalist>
                    </div>
                    <div class="form-group">
                        <label>Quantidade de caixas</label>
                        <input 
                            type="number"
                            min="0" 
                            class="form-control background-none custom-input"
                            name="quantidade_de_caixas"
                            value = {{i.quantidade_de_caixas}}
                        >
                    </div>

                    <div class="form-group">
                        <label>Data de validade</label>
                        <p>Data anterior : {{i.data_de_validade}}</p>
                        <input 
                            type="date" 
                            class="form-control background-none custom-input"
                            name="data_de_validade"
                        >
                    </div>

                    <div class="form-group">
                        <label>Dosagem</label>
                        <div class="input-group">
                            <input type="text" class="form-control" aria-label="Text input with dropdown button" name="dosagem" value = {{i.dosagem}}>
                            <div class="input-group-append">
                                <select class="form-control" name="unidade_dosagem">
                                    <option value="ml">ml</option>
                                    <option value="ul">&micro;l</option>
                                    <option value="mg">mg</option>
                                    <option value="ug">&micro;g</option>
                                        
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Quantidade por caixa</label>
                        <div class="input-group">
                            <input type="text" class="form-control" aria-label="Text input with dropdown button" name="quantidade_por_caixa" value = {{i.quantidade_por_caixa}}>
                            <div class="input-group-append">
                                <select class="form-control" name="unidade_quantidade_por_caixa">
                                    <option value="ml">ml</option>
                                    <option value="mg">mg</option>
                                    <option value="unidades">unidades</option>


                                </select>
                            </div>
                          </div>
                    </div>

                    <div class="form-group">
                        <label>Preço de venda</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">R$</span>
                            </div>
                            <input 
                                type="number" 
                                step="0.01"
                                min="0"
                                class="form-control background-none custom-input"
                                name="preco"
                                value = {{i.preco}}
                            >
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Fornecedor</label>
                        <input 
                            type="text" 
                            list="suggestions_providers"
                            class="form-control background-none custom-input"
                            name="nome_fornecedor"
                            value = {{i.id_fornecedor.nome_fornecedor}}
                        >
                    </div>
                    <datalist id="suggestions_providers"></datalist>

                    <div class="form-group">
                        <label>Industria farmacêutica</label>
                        <input 
                            type="text" 
                            class="form-control background-none custom-input"
                            list="suggestions_industries"
                            name="industria_farmaceutica"
                            value = {{i.industria_farmaceutica}}
                        >
                    </div>
                    <datalist id="suggestions_industries"></datalist>                 
                    <button type="submit" class="btn btn-block btn-outline-info custom-btn">Editar dados</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    </div>
    
</div>
        
    


</div>

<script>
$(document).ready(function() {
    var lotes = $('#lotes').dataTable({
        "columnDefs": [
            { 
                type: "html",
                target: 0,
            },
            {"className": "dt-center", "targets": "_all"}
                
        ],
        

        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json"
        },
        // "scrollY":        "200px",
        // "scrollCollapse": true,
        "paging": true
    });

} );
</script>
<style>th, td { white-space: nowrap; }</style>

<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">


{% endblock %}