{% extends 'template/padrao.html' %}

{%block titulo %}
Entrada de Estoque
{% endblock %}

{%block titulo-conteudo %}
Entrada de Estoque
{% endblock %}

{% block content %}

{% load static %}

<div>
    <script>
        // lista_de_medicamentos_validos = [
        //     'ABC',
        //     'BANANA',
        //     'GOIABA',
        //     'PARACETAMOL',
        //     'MOPA'
        // ]
        // lista_fornecedores_validos = [
        //     'fornecedor 1',
        //     'fornecedor 2',
        //     'candy shop',
        //     'maromba',
        //     'droguita'
        // ]
        // industrias_farmaceuticas_validas = [
        //     '123_vamofazerremedio',
        //     'gerador de maconha',
        //     'breaking bad farmacos',
        //     'guerra do ópio distribuidoras LTDA'
        // ]

        industrias_farmaceuticas_validas = []

        lista_de_medicamentos_validos = {{nomes_medicamentos_validos | safe }}
        lista_fornecedores_validos = {{nomes_fornecedores_validos | safe}}

        add_sugestoes = function () {
            adiciona_sugestao_generic(lista_de_medicamentos_validos, "suggestions_medicine")
            adiciona_sugestao_generic(lista_fornecedores_validos, "suggestions_providers")
            adiciona_sugestao_generic(industrias_farmaceuticas_validas, "suggestions_industries")
        }
        $(document).ready(function () {
            add_sugestoes()
        });
        
    </script>
    

    </div>
    
    <div class="row formulario">
        <div class="col-sm-12">
            <div>
                <form method="POST" autocomplete="off">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Medicamento</label>
                        <input 
                            type="text" 
                            class="form-control background-none custom-input"
                            list="suggestions_medicine"
                            name="nome_medicamento"
                        >
                        <datalist
                            id="suggestions_medicine"></datalist>
                    </div>
                    <div class="form-group">
                        <label>Quantidade de caixas</label>
                        <input 
                            type="number"
                            min="0" 
                            class="form-control background-none custom-input"
                            name="quantidade_de_caixas"
                        >
                    </div>

                    <div class="form-group">
                        <label>Data de validade</label>
                        <input 
                            type="date" 
                            class="form-control background-none custom-input"
                            name="data_de_validade"
                        >
                    </div>

                    <div class="form-group">
                        <label>Dosagem</label>
                        <div class="input-group">
                            <input type="text" class="form-control" aria-label="Text input with dropdown button" name="dosagem">
                            <div class="input-group-append">
                                <select class="form-control" name="unidade_dosagem">
                                    <option value="ml">ml</option>
                                    <option value="ul">&micro;l</option>
                                    <option value="mg">mg</option>
                                    <option value="ug">&micro;g</option>
                                        
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Quantidade por caixa</label>
                        <div class="input-group">
                            <input type="text" class="form-control" aria-label="Text input with dropdown button" name="quantidade_por_caixa">
                            <div class="input-group-append">
                                <select class="form-control" name="unidade_quantidade_por_caixa">
                                    <option value="ml">ml</option>
                                    <option value="mg">mg</option>
                                    <option value="unidades">unidades</option>


                                </select>
                            </div>
                          </div>
                    </div>

                    <div class="form-group">
                        <label>Preço de venda</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">R$</span>
                            </div>
                            <input 
                                type="number" 
                                step="0.01"
                                min="0"
                                class="form-control background-none custom-input"
                                name="preco"
                            >
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Fornecedor</label>
                        <input 
                            type="text" 
                            list="suggestions_providers"
                            class="form-control background-none custom-input"
                            name="nome_fornecedor"
                        >
                    </div>
                    <datalist id="suggestions_providers"></datalist>

                    <div class="form-group">
                        <label>Industria farmacêutica</label>
                        <input 
                            type="text" 
                            class="form-control background-none custom-input"
                            list="suggestions_industries"
                            name="industria_farmaceutica"
                        >
                    </div>
                    <datalist id="suggestions_industries"></datalist>                 
                    <button 
                        type="submit" 
                        id="cadastrar_button"
                        class="btn  btn-block btn-outline-info custom-btn">
                        Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
    <script src="./jquery-3.5.1.min.js"></script>
    <script src="bootstrap-4.5.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="_js/script.js"></script>
</div>

{% endblock %}