/* CSS HEX */
:root{
--bdazzled-blue: #3d5a80ff;
--pale-cerulean: #98c1d9ff;
--light-cyan: rgb(240, 254, 255);
--burnt-sienna: #6BA368;
--gunmetal: #515B3A;
}

.logo{
    font-size: 50px;
    font-family: monospace;
    color: var(--secondary)
}
.logo-span{
    color: var(--primary);
}
