{% extends 'template/padrao.html' %}

{% load static %}

{%block head %}
Funcionário
{% endblock %}

{%block titulo %}
Funcionários Cadastrados
{% endblock %}

{%block titulo-conteudo %}
Funcionários Cadastrados
{% endblock %}

{% block content %}

<div>    
    <!-- <div class="row formulario">
        <div class="col-sm-12">
            <div>                
                <form method="GET">
                    <div class="input-group-prepend">                    
                        <input type="text" class="form-control" placeholder="Nome" name="buscacliente" id="buscacliente">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Buscar</button>
        
                    </div>              
                
                    </form>
            </div>
        </div> 
    </div>-->
    <div class="tabela">
        <table id="usuarios" class="table table-hover">
            <thead class="table-info">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome do Cliente</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Cargo</th>
                    <th scope="col">Admissão</th>
                    <th scope="col">Demissão</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>  
            <tbody>          
            {% for i in lista %}                      
            
                <tr class={{i.id}}>
                    <th scope="row">{{i.id}}</th>
                    <td class = "nome">{{i.nome_funcionario}}</td>
                    <td class = "cpf">{{i.cpf}}</td>
                    <td class = "telefone">{{i.telefone}}</td>
                    <td class = "cargo">{{i.cargo}}</td>
                    <td class = "admissao">{{i.data_de_admissao}}</td>
                    <td class = "demissao"> 
                        {% if i.data_de_demissao == None%}
                        {{"-"}}
                        {%else%}
                        {{i.data_de_demissao}}
                        {% endif%}                        
                    </td>
                    <td>
                        <form class= "centro">
                            <button value = {{i.id}} name = 'edit' class="btn btn-warning"  type = "submit" >Editar</button> 
                        </form>
                    </td>
                   
                    <td>
                        {% if i.data_de_demissao == None%}
                        <form class= "centro">
                            <style>
                                .centro{
                                    text-align: center;            
                                }
                                .botao{
                                    margin-bottom:6px;
                                }
                            </style>  
                            <button  value = {{i.id}} name = 'delete' class="btn btn-danger botao" type = "submit">Demitir</button>                          
                            <input type="date" required class="form-control background-none custom-input", name = 'data_de_demissao'>                                             
                        </form>
                        {% endif%} 
                    </td>
                </tr>                       

            {% endfor %}
            </tbody>
            
        </table>
        
        {% if editar %}
        <script>
            function fMasc(objeto,mascara) {
                obj=objeto
                masc=mascara
                setTimeout("fMascEx()",1)
                }
    
                function fMascEx() {
                obj.value=masc(obj.value)
                }
    
                function mCPF(cpf){
                    cpf=cpf.replace(/\D/g,"")
                    cpf=cpf.replace(/(\d{3})(\d)/,"$1.$2")
                    cpf=cpf.replace(/(\d{3})(\d)/,"$1.$2")
                    cpf=cpf.replace(/(\d{3})(\d{1,2})$/,"$1-$2")
                    return cpf    
                }
            
                function mTel(tel){
                    tel=tel.replace(/\D/g,"")
                    tel=tel.replace(/(\d{1})/,"($1")
                    tel=tel.replace(/(\d{1})(\d)/,"$1$2) ")
                    tel=tel.replace(/(\d{5})(\d)/,"$1-$2")
                    return tel
                }
            

                function confirmar_senha(campo_senha){
                campo = campo_senha.value
                if($("#senha").val()==campo){
                    $("#confirmacao_senha").css("border", "1px solid #ced4da")
                    $("#texto_confirmacao_senha").css('visibility','hidden');
                    }
                else{
                    $("#confirmacao_senha").val("")
                    $("#texto_confirmacao_senha").css('visibility','visible');
                    $("#confirmacao_senha").css("border", "1px solid red")
                    }
                }
        </script>
        {% for i in lista %}
        <div class="row justify-content-md-center formulario" id="cad_func">
        <form method="POST" autocomplete="off">
            {% csrf_token %}            
            <div class="form-group">
                <label>Nome completo</label>
                <input value = {{i.nome_funcionario}} type="text" class="form-control background-none custom-input" id="nome_usuario", name = 'nome_funcionario'>
            </div>
            <div class="form-group">
                <label>CPF</label>
                <p>{{i.cpf}}</p>
            </div>
            <div class="form-group">
                <label>Telefone</label>
                <p>Anterior : {{i.telefone}}</p>
                <input 
                type="text" 
                name="telefone" 
                class="form-control background-none custom-input" 
                id="telefone" 
                onkeydown="javascript: fMasc( this, mTel )" 
                maxlength=15
                required>
            </div>
            <label class="label d-block">Cargo</label>
            <div class="form-check-inline">

                <label class="btn btn-outline-primary form-check-label">
                    <input type="radio" id="Balconista" name = 'cargo' value="Balconista" > Balconista
                </label>
                <label class="btn btn-outline-primary form-check-label">
                    <input type="radio"  id="Farmacêutico" name = 'cargo' value="Farmacêutico"> Farmacêutico
                </label>
                <label class="btn btn-outline-primary form-check-label">
                    <input type="radio"  id="Caixa" name = 'cargo' value="Caixa"> Caixa
                </label>
                <label class="btn btn-outline-primary form-check-label">
                    <input type="radio"  id="Gerente Financeiro" name = 'cargo' value="Gerente Financeiro"> Gerente Financeiro
                </label>
            </div>         
            <div class="form-group">
                <label>Data de admissão</label> 
                <p>Data anterior : {{i.data_de_admissao}}</p>
                <input value = None type="date" class="form-control background-none custom-input" id="data_de_admissao", name = 'data_de_admissao'>
            </div>
            <div class="form-group">
                <label>Data de demissão</label> 
                <p>Data anterior : {{i.data_de_demissao}}</p>
                <input value = None type="date" class="form-control background-none custom-input" id="data_de_demissao", name = 'data_de_demissao'>
            </div>
            <div class="form-group">
                <label>Senha antiga</label>
                <input type="password" class="form-control background-none custom-input" id="senha_antiga", name = 'senha_antiga'>
            </div>
            <div class="form-group">
                <label>Nova senha (para não alterar, deixe em branco)</label>
                <input type="password" class="form-control background-none custom-input" id="senha", name = 'senha'>
            </div>

            <div class="form-group">
                <label>Confirmar nova senha</label>
                <input type="password" class="form-control background-none custom-input" id="confirmacao_senha", onblur="confirmar_senha(this)">
                <p id="texto_confirmacao_senha" style="visibility: hidden;color: red;">Senhas não coincidem</p>
            </div>

            <button type="submit" class="btn btn-block btn-outline-info custom-btn">Editar dados</button>
        </form>
        </div>
        <script>
            document.getElementById("telefone").value = "{{i.telefone}}"
            document.getElementById('{{i.cargo}}').checked = true
        
        </script>
        {% endfor %}
        {% endif %}  
        
    </div>
        
    <script src="{% static 'bootstrap-4.5.3-dist/js/bootstrap.bundle.js' %}" type="text/javascript"></script>
    <script src="{% static '_js/script.js' %}" type="text/javascript"></script>
    <script src="{% static 'jquery-3.5.1.min.js' %}" type="text/javascript"></script>


</div>

<script>
    $(document).ready(function() {
        var usuarios = $('#usuarios').dataTable({
            "columnDefs": [
                { 
                    type: "html",
                    target: 0,
                },
                {"className": "dt-center", "targets": "_all"}
                    
            ],
            
    
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json"
            },
            // "scrollY":        "200px",
            // "scrollCollapse": true,
            "paging": true
        });
    
    } );
    </script>
    
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">

{% endblock %}