{% extends 'template/padrao.html' %}

{%block titulo %}
Cadastro Cliente
{% endblock %}

{%block titulo-conteudo %}
Cadastro de Cliente
{% endblock %}

{% block content %}

<div>  
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1 class="h1">Cadastro de cliente</h1>
        </div>
    </div>
    <div class="row formulario" >
        <div class="col-sm-12">
            <div>
                <form method="POST" autocomplete="off">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Nome completo</label>
                        <input type="text" class="form-control background-none custom-input" id="nome_usuario" name="name" required>
                    </div>
                    <div class="form-group">
                        <label>CPF</label>
                        <input 
                            onkeydown="javascript: fMasc( this, mCPF )"
                            type="text" 
                            class="form-control background-none custom-input" 
                            id="cpf" 
                            pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" 
                            onblur="testa_cpf(this)"
                            name="cpf"
                            placeholder=""
                            maxlength=14
                            required>                       
                    </div>
                    <div class="form-group">
                        <label>Telefone</label>
                        <input type="tel" 
                        name="tel" 
                        class="form-control background-none custom-input" 
                        id="nome_usuario" 
                        onkeydown="javascript: fMasc( this, mTel )" 
                        maxlength=15
                        required>
                    </div>
                    <div class="form-group">
                        <label>Data de nascimento</label>
                        <input type="date" class="form-control background-none custom-input" id="data_nasc" placeholder="" name="data_nasc" onchange="checarIdade(value)" required>
                    </div>
                    <button type="submit" class="btn btn-block btn-outline-info custom-btn">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        

        


    </script>
    <script src="./jquery-3.5.1.min.js"></script>
    <script src="bootstrap-4.5.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="_js/script.js"></script>
</div>

{% endblock %}