{% extends 'template/padrao.html' %}

{%block titulo %}
Cadastro Fornecedor
{% endblock %}

{%block titulo-conteudo %}
Cadastro de Fornecedor
{% endblock %}

{% block content %}

<div>
    <script>
        function fMasc(objeto,mascara) {
            obj=objeto
            masc=mascara
            setTimeout("fMascEx()",1)
            }

            function fMascEx() {
            obj.value=masc(obj.value)
            }

            function mCPF(cpf){
                cpf=cpf.replace(/\D/g,"")
                cpf=cpf.replace(/(\d{3})(\d)/,"$1.$2")
                cpf=cpf.replace(/(\d{3})(\d)/,"$1.$2")
                cpf=cpf.replace(/(\d{3})(\d{1,2})$/,"$1-$2")
                return cpf    
            }
        
            function mTel(tel){
                tel=tel.replace(/\D/g,"")
                tel=tel.replace(/(\d{1})/,"($1")
                tel=tel.replace(/(\d{1})(\d)/,"$1$2) ")
                tel=tel.replace(/(\d{5})(\d)/,"$1-$2")
                return tel
            }
        
    </script>

    <div class="row formulario" >
        <div class="col-sm-12">
            <div>
                <!--     
                    nome_cliente = models.CharField(max_length=100)
                    cpf = models.CharField(max_length=11)
                    telefone = models.CharField(max_length=12)
                -->
                <form method="POST" autocomplete="off">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Nome do Fornecedor</label>
                        <input type="text" class="form-control background-none custom-input" id="nome_usuario" name="nome_fornecedor" required>
                    </div>
                    <div class="form-group">
                        <label>CNPJ</label>
                        <!-- <input 
                            onkeydown="javascript: fMasc( this, mCPF )"
                            type="text" 
                            class="form-control background-none custom-input" 
                            id="cpf" 
                            pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" 
                            onblur="testa_cpf(this)"
                            name="cpf"
                            placeholder=""
                            maxlength=14
                            required> -->
                            <input 
                                type="text" 
                                class="form-control background-none custom-input" 
                                id="cnpj" 
                                name="cnpj"
                                onblur="validarCNPJ(this)" 
                                onkeydown="javascript: fMasc( this, mCNPJ )" 
                                required
                                maxlength=18
                                >
                        
                        
                    </div>
                    <div class="form-group">
                        <label>Telefone</label>
                        <input type="text" 
                        name="telefone" 
                        class="form-control background-none custom-input" 
                        id="nome_usuario" 
                        onkeydown="javascript: fMasc( this, mTel )" 
                        maxlength=15
                        required>
                    </div>

                    <button type="submit" class="btn btn-block btn-outline-info custom-btn">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        function testa_cpf(campo_cpf){
            valor_do_campo = campo_cpf.value
            cpf = valor_do_campo.replace(/[.-]/g,'')
            
            soma1 = 0
            for(i = 0; i < 9; i++){
                soma1 += cpf[i] * (10-i)
            }
            resto1 = ((soma1 * 10) % 11)%10

            soma2 = 0
            for(i = 0; i < 10; i++){
                soma2 += cpf[i] * (11-i)
            }
            resto2 = ((soma2 * 10) % 11)%10

            valido = true

            if(resto1 == cpf[9] & resto2 == cpf[10]){
                valido = true
            }
            else{
                valido = false
            }
            if(/^(.)\1*$/.test(cpf)){
                valido = false
            }

            if(!valido){
                selectCPF = $("#cpf")[0]
                $("#cpf").val("")
                selectCPF.placeholder="CPF inválido"
                $("#cpf").css("border", "1px solid red")
                console.log(soma1, resto1, soma2, resto2, valido, /^(.)\1*$/.test(cpf))
            }
            else{
                
                $("#cpf").css("border", "1px solid #ced4da")
                
            }

        };
    </script>

</div>

{% endblock %}