{% extends 'template/padrao.html' %}

{%block titulo %}
Cadastro de Ordem de Venda
{% endblock %}

{%block titulo-conteudo %}
Cadastro de Ordem de Venda
{% endblock %}

{% block content %}

{% load static %}

<div>
    
    <script>
        
        
        lista_de_medicamentos_validos = {{nome_med_validos | safe }}
       

        add_sugestoes = function () {
            adiciona_sugestao_generic(lista_de_medicamentos_validos, "suggestions_medicine")
            
        }
        $(document).ready(function () {
            add_sugestoes()
        });
        
    </script>
    
    <div class="row formulario">
        <div class="col-sm-12">
            <div>                
                <form method="GET">

                    <div class="input-group-prepend">
                    
                        <input type="text" class="form-control" placeholder="Medicamento" list="suggestions_medicamento" name="buscaMedicamento" id="buscaMedicamento">
                        <datalist
                            id="suggestions_medicamento"></datalist>
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Buscar</button>
                        
                    </div>              
                
                </form>
            </div>
        </div>
    </div>
    <div class="tabela">
        <table class="table table-hover">
            <thead class="table-info">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome do Medicamento</th>
                    <th scope="col">Quantidade por caixa</th>
                    <th scope="col">Dosagem</th>
                    <th scope="col">Data de Validade</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Quantidade em estoque</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>            
            {% for i in lista %}                      
            <tbody>
                <tr class={{i.id}}>
                    <th scope="row">{{i.id_lote_medicamento}}</th>
                    <td class = "nome">{{busca}}</td>
                    <td class = "Quantidade">{{i.quantidade_por_caixa}}</td>
                    <td class = "Dosagem">{{i.dosagem}}</td>
                    <td class = "Data de Validade">{{i.data_de_validade}}</td>
                    <td class = "Preço">{{i.preco}}</td>
                    <td class = "Quantidade em estoque">{{i.quantidade_de_caixas}}</td>
                    
                    <td>
                        <form class= "centro">
                            <button value = {{i.id_lote_medicamento}} name = 'vender' class="btn btn-outline-info custom-btn"  type = "submit" >Vender</button> 
                        </form>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>        
    </div>
    
    





    <script src="./jquery-3.5.1.min.js"></script>
    <script src="bootstrap-4.5.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="_js/script.js"></script>
</div>

{% endblock %}