{% extends 'template/padrao.html' %}

{%block titulo %}
Histórico de Vendas
{% endblock %}

{%block titulo-conteudo %}
Histórico de Vendas
{% endblock %}

{% block content %}

{% load static %}

<div>
    <div class="row formulario">
        <!-- <div class="col-sm-12">
            <div>                
                <form method="POST" autocomplete="off">
                    {% csrf_token %}
                    <div class="input-group-prepend">                    
                        <input type="text" class="form-control" placeholder="CPF" name="cpf" onkeydown="javascript: fMasc( this, mCPF )" onblur="testa_cpf(this)" maxlength=14>
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Buscar</button>
                    </div>              
                    </form>
            </div>
        </div> -->
    </div>
    <div class="tabela">
        <table id="vendas" class="table table-hover">
            <thead class="table-info">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Nome do Medicamento</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Nº Lote</th>
                    <th scope="col">Valor Unitário</th>
                    <th scope="col">Valor Total</th>
                    <th scope="col">Data de Venda</th>
                </tr>
            </thead>    
            <tbody>        
            {% for i in lista %}                      
            
                <tr class={{i.id}}>
                    <th scope="row">{{i.id_ordem_de_venda}}</th>
                    <td class = "CPF">{{i.id_cliente.cpf}}</td>
                    <td class = "Nome">{{i.id_lote_medicamento.id_medicamento}}</td>
                    <td class = "Quantidade">{{i.quantidade}}</td>
                    <td class = "Nº Lote">{{i.id_lote_medicamento.id_lote_medicamento}}</td>
                    <td class = "Valor Unitário">{{i.preco_desconto | floatformat }}</td>
                    <td class = "Valor Total">
                        {{i.valor_total_venda | floatformat}}</td>     
                    <td class = "qtd_caixas" data-sort='{{i.data_de_venda|date:"U"}}'>{{i.data_de_venda}}</td>             
                </tr>
            
            {% endfor %}
            </tbody>
        </table>        
    </div>
</div>

<script>
    $(document).ready(function() {
        var vendas = $('#vendas').dataTable({
            "columnDefs": [
                { 
                    type: "html",
                    target: 0,
                },
                {"className": "dt-center", "targets": "_all"}
                    
            ],
            
    
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json"
            },
            // "scrollY":        "200px",
            // "scrollCollapse": true,
            "paging": true
        });
    
    } );
    </script>
    
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">

{% endblock %}