{% extends 'template/padrao.html' %}

{%block head %}
Cadastro Medicamento
{% endblock %}

{%block titulo-conteudo %}
Cadastro de Medicamento
{% endblock %}

{% block content %}
<div>        
    <div class="formulario">  
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <!--     
                        nome_cliente = models.CharField(max_length=100)
                        cpf = models.CharField(max_length=11)
                        telefone = models.CharField(max_length=12)
                    -->
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Nome do medicamento</label>
                            <input type="text" class="form-control background-none custom-input" id="nome_usuario" name="name" required>
                        </div>
                        <div class="form-group">
                            <label>Classificação</label>
                            <select class="form-control background-none custom-input" id="classification_input" name="classificacao" required>
                                <option selected>Escolha...</option>
                                <option value="Sem tarja"> Sem tarja</option>
                                <option value="Tarja vermelha sem retenção de receita"> Tarja vermelha sem retenção de receita</option>
                                <option value="Tarja vermelha com retenção da receita"> Tarja vermelha com retenção da receita</option>
                                <option value="Tarja preta"> Tarja preta</option>
                                <option value="Tarja amarela"> Tarja amarela</option>

                            </select>
                            
                        </div>

                        <div class="form-group">
                            <label>Princípio ativo</label>
                            <div>
                                <input 
                                    type="text" 
                                    class="form-control background-none custom-input float-left" 
                                    id="active_substance_input"
                                    name="principio_ativo"
                                    data-provide="typeahead" data-items="4"
                                    required>
                                    
                            
                            </div>
                            
                            
                            <script>
                                var subjects = {droga}
                                $('#active_substance_input').typeahead({source: subjects})
                            </script>
                            
                        </div>
                        
            

                        <button
                            type="submit"
                            value="save" 
                            name="save" 
                            id="cadastrar_button" 
                            class="btn  btn-block btn-outline-info custom-btn"

                            >
                            Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

