{% extends 'template/padrao.html' %}
{% load static %}

{%block titulo %}
Cadastro Medicamento
{% endblock %}



{% block content %}
<div>
    <script>
        function testa_cpf(campo_cpf){
            valor_do_campo = campo_cpf.value
            cpf = valor_do_campo.replace(/[.-]/g,'')
            
            soma1 = 0
            for(i = 0; i < 9; i++){
                soma1 += cpf[i] * (10-i)
            }
            resto1 = ((soma1 * 10) % 11)%10

            soma2 = 0
            for(i = 0; i < 10; i++){
                soma2 += cpf[i] * (11-i)
            }
            resto2 = ((soma2 * 10) % 11)%10

            valido = true

            if(resto1 == cpf[9] & resto2 == cpf[10]){
                valido = true
            }
            else{
                valido = false
            }
            if(/^(.)\1*$/.test(cpf)){
                valido = false
            }

            if(!valido){
                selectCPF = $("#cpf")[0]
                $("#cpf").val("")
                selectCPF.placeholder="CPF inválido"
                $("#cpf").css("border", "1px solid red")
                console.log(soma1, resto1, soma2, resto2, valido, /^(.)\1*$/.test(cpf))
            }
            else{
                $("#cpf").css("border", "1px solid #ced4da")
            }

        };

        function confirmar_senha(campo_senha){
            campo = campo_senha.value
            if($("#senha").val()==campo){
                $("#confirmacao_senha").css("border", "1px solid #ced4da")
                $("#texto_confirmacao_senha").css('visibility','hidden');
            }
            else{
                $("#confirmacao_senha").val("")
                $("#texto_confirmacao_senha").css('visibility','visible');
                $("#confirmacao_senha").css("border", "1px solid red")
            }
        }
        
    </script>    
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1 class="h1">Editar dados do usuário</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div>
                <!-- 
                id_funcionario = User.pk
                nome_funcionario = models.CharField(max_length=300)
                cpf = models.CharField(max_length=11) 
                telefone = models.CharField(max_length=12)
                cargo = models.CharField(max_length=100)
                privilegio = models.CharField(max_length=100)
                data_de_admissao = models.DateTimeField(auto_now=False,auto_now_add=True)
                data_de_demissao = models.DateTimeField(auto_now=False,auto_now_add=False)
                -->
                <form method="POST" autocomplete="off">
                    {% csrf_token %}
                    <!-- <div class="form-group">
                        <label>Usuário</label>
                        <input type="text" class="form-control background-none custom-input" id="login_usuario", name = 'usuario'>
                    </div> -->
                    <div class="form-group">
                        <label>Nome completo</label>
                        <input type="text" class="form-control background-none custom-input" id="nome_usuario", name = 'nome_funcionario'>
                    </div>
                    <div class="form-group">
                        <label>CPF</label>
                        <input 
                            oninput="mascara_cpf(this)"
                            type="text" 
                            class="form-control background-none custom-input" 
                            id="cpf" 
                            pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" 
                            onblur="testa_cpf(this)"
                            name = 'cpf'
                            >
                    </div>
                    <div class="form-group">
                        <label>Telefone</label>
                        <input type="tel" class="form-control background-none custom-input" id="telefone" name = 'telefone'>
                    </div>
                    <label class="label d-block">Cargo</label>
                    <div class="form-check-inline">
        
                        <label class="btn btn-outline-primary form-check-label">
                            <input type="radio" id="Balconista" name = 'cargo' value="Balconista" > Balconista
                        </label>
                        <label class="btn btn-outline-primary form-check-label">
                            <input type="radio"  id="Farmacêutico" name = 'cargo' value="Farmacêutico"> Farmacêutico
                        </label>
                        <label class="btn btn-outline-primary form-check-label">
                            <input type="radio"  id="Caixa" name = 'cargo' value="Caixa"> Caixa
                        </label>
                        <label class="btn btn-outline-primary form-check-label">
                            <input type="radio"  id="Gerente Financeiro" name = 'cargo' value="Gerente Financeiro"> Gerente Financeiro
                        </label>
                    </div>

                    <!-- <label class="d-block">Privilégio</label>
                    <div class="form-check-inline">
                        <label class="btn btn-outline-primary form-check-label">
                            <input type="radio", id="option1", name = 'privilegio', value = 'privilegio 1' > privilegio 1
                        </label>
                        <label class="btn btn-outline-primary form-check-label">
                            <input type="radio" name = 'privilegio', value = 'privilegio 2'> privilegio 2
                        </label>
                        <label class="btn btn-outline-primary form-check-label">
                            <input type="radio", id="option3", name = 'privilegio', value = 'privilegio 3'> privilegio 3
                        </label> -->
                    </div>
                    <div class="form-group">
                        <label>Data de admissão</label>
                        <input type="date" class="form-control background-none custom-input" id="data_de_admissao", name = 'data_de_admissao'>
                    </div>
                    <div class="form-group">
                        <label>Senha antiga</label>
                        <input type="password" class="form-control background-none custom-input" id="senha_antiga", name = 'senha_antiga'>
                    </div>
                    <div class="form-group">
                        <label>Nova senha (para não alterar, deixe em branco)</label>
                        <input type="password" class="form-control background-none custom-input" id="senha", name = 'senha'>
                    </div>

                    <div class="form-group">
                        <label>Confirmar nova senha</label>
                        <input type="password" class="form-control background-none custom-input" id="confirmacao_senha", onblur="confirmar_senha(this)">
                        <p id="texto_confirmacao_senha" style="visibility: hidden;color: red;">Senhas não coincidem</p>
                    </div>

                    <button type="submit" class="btn btn-block btn-outline-info custom-btn">Cadastrar</button>
                    <!-- <button type="button" class="btn btn-block btn-link text-center">Já possui login?</button> -->
                </form>
            </div>
        </div>
    </div>
</div>

<script>
        dados = JSON.parse('{{dados | safe}}');
        document.getElementById("nome_usuario").value = dados.nome_funcionario
        document.getElementById("cpf").value = dados.cpf
        document.getElementById("telefone").value=dados.telefone
        document.getElementById("data_de_admissao").value= dados.data_de_admissao.split('T')[0]
        document.getElementById(dados.cargo).checked = true
</script>

{% endblock %}