{% extends 'template/padrao.html' %}

{%block titulo %}
Cadastro Medicamento
{% endblock %}

{% block content %}
<div>          
    <div class="row">
        <div class="col-sm-12">
            <h1 class="h1">Cadastro de medicamento</h1>
        </div>
    </div>
    <div class="formulario">  
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <!--     
                        nome_cliente = models.CharField(max_length=100)
                        cpf = models.CharField(max_length=11)
                        telefone = models.CharField(max_length=12)
                    -->
                    <form method="post" autocomplete="off">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Nome do medicamento</label>
                            <input type="text" class="form-control background-none custom-input" id="nome_usuario" name="name" required>
                        </div>
                        <div class="form-group">
                            <label>Classificação</label>
                            <select class="form-control background-none custom-input" id="classification_input" name="classificacao" required>
                                <option selected>Escolha...</option>
                                <option value="Sem tarja"> Sem tarja</option>
                                <option value="Tarja vermelha sem retenção de receita"> Tarja vermelha sem retenção de receita</option>
                                <option value="Tarja vermelha com retenção da receita"> Tarja vermelha com retenção da receita</option>
                                <option value="Tarja preta"> Tarja preta</option>
                                <option value="Tarja amarela"> Tarja amarela</option>

                            </select>
                            
                        </div>

                        <div class="form-group">
                            <label>Princípio ativo</label>
                            <div>
                                <input 
                                type="text" 

                                class="form-control background-none custom-input float-left" 
                                id="principio_ativo"
                                name="principio_ativo" required>
                            
                        </div>
                        
                        
                        <button
                            type="submit"
                            value="save" 
                            name="save" 
                            id="cadastrar_button" 
                            class="btn  btn-block btn-outline-info custom-btn"

                            >
                            Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

