{% extends 'template/padrao.html' %}

{%block titulo %}
Medicamentos
{% endblock %}

{%block titulo-conteudo %}
Medicamentos Cadastrados
{% endblock %}

{% load static %}

{% block content %}

<div>    
    <div class="row formulario">
        <div class="col-sm-12">
            <div>                
                <form method="GET">
                    <div class="input-group-prepend">                    
                        <input type="text" class="form-control" placeholder="Nome" name="buscamedic" id="buscamedic">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Buscar</button>
                    </div>              
                    </form>
            </div>
        </div>
    </div>
    <div class="tabela">
        <table class="table table-hover">
            <thead class="table-info">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Classificação</th>
                    <th scope="col">Princípio Ativo</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>            
            {% for i in lista %}
            {% if not i.excluido  %}                      
            <tbody>
                <tr class={{i.id_medicamento}}>
                    <th scope="row">{{i.id_medicamento}}</th>
                    <td class = "nome">{{i.nome_medicamento}}</td>
                    <td class = "classificacao">{{i.classificacao}}</td>
                    <td class = "principio">{{i.principio_ativo}}</td>
                    <td>
                        <form class= "centro">
                            <button value = {{i.id_medicamento}} name = 'edit' class="btn btn-warning"  type = "submit" >Editar</button> 
                        </form>
                    </td>
                   
                    <td>
                        <form class= "centro">
                            <style>
                                .centro{
                                    text-align: center;            
                                }
                                .botao{
                                    margin-bottom:6px;
                                }
                            </style>  
                            <button  value = {{i.id_medicamento}} name = 'delete' class="btn btn-danger botao" type = "submit">X</button>                                                                       
                        </form>                        
                    </td>
                </tr>
            </tbody>
                
            {% endif %}    
            {% endfor %}
            
        </table>
        
        {% if editar %}        
        {% for i in lista %}

        <form class = "formulario" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Nome do medicamento</label>
                <input type="text" class="form-control background-none custom-input" id="nome_usuario" name="name">
            </div>
            <div class="form-group">
                <label>Classificação</label>
                <input
                    id="classification_input" 
                    type="text" 
                    list="suggestions_classification" 
                    class="form-control background-none custom-input" 
                    id="classification_input"
                    name="classificacao"
                >
                <datalist id="suggestions_classification">
                </datalist>
                
            </div>

            <div class="form-group">
                <label>Princípio ativo</label>
                <div>
                    <input 
                        type="text" 
                        onkeyup="principio_ativo_ja_esta_registrado_check()"
                        onselect="principio_ativo_ja_esta_registrado_check()"
                        onchange="principio_ativo_ja_esta_registrado_check()"
                        onblur="principio_ativo_ja_esta_registrado_check()"
                            
                        list="suggestions_active_substance" 
                        class="form-control background-none custom-input float-left" 
                        id="active_substance_input"
                        name="principio_ativo"
                    >
                    <div class="btn-group btn-block">
                        <button type='button' class="btn btn-outline-info custom-btn" onclick="adiciona_principio_ativo_a_lista()">Adicionar princípio ativo</button>
                        <button 
                            id="active_substance_register_button"
                            type='button' 
                            class="btn btn-outline-info custom-btn" 
                            onclick="cadastra_novo_principio_ativo()">
                            Cadastrar princípio ativo</button>
                    </div>
                </div>
                <datalist id="suggestions_active_substance">
                </datalist>
                
            </div>
            <ul class="list-unstyled" id="active_substances">

            </ul> 


            <!-- <div class="form-group">
                <label>Marca do medicamento</label>
                <div>
                    <input 
                        type="text" 
                        class="form-control background-none custom-input" 
                        id="brand_input"
                        list="suggestions_brands"
                        onfocus="marca_ja_registrada_check()"
                        onblur="marca_ja_registrada_check()"
                        onselect="marca_ja_registrada_check()"
                        onchange="marca_ja_registrada_check()"
                        onkeyup="marca_ja_registrada_check()"
                        >
                    <button 
                        id="register_brand_button"
                        type="button" 
                        class="btn btn-outline-info custom-btn col-6 float-right" 
                        onclick="cadastrar_nova_marca()"
                        >Cadastrar nova marca</button> 
                </div>
                <datalist id="suggestions_brands">
                </datalist>
            </div> -->



            <button
                type="submit" 
                id="cadastrar_button" 
                class="btn  btn-block btn-outline-info custom-btn"
                onclick="cadastrar_medicamento()"
                >
                Cadastrar</button>
        </form>
        {% endfor %}
        
        {% endif %}  
        
    </div>       
</div>


{% endblock %}